<div class='button'>
<form action = "/user/<%= @user %>/profile" method="get">
  <input type ="submit" value="Profile Page" class="pure-button pure-button-primary">
</form>
<br>
<br>
<form action = "/logout" method="post">
  <input type ="submit" value="Log Out" class="pure-button pure-button-primary">
</form>
</div>

<div class='container'>
<h1>News Feed</h1>


    <h2> Everyone's Posts</h2>
<% @post.each do |post|%>
  <p><%= post.content %></p>
  <p>Created at: <%= post.created_at %></p>

  <form action = "/user/<%= post.user_id %>/profile" method="get">
    <input type ="submit" value="User: <%= User.find(post.user_id).name %>" class="pure-button pure-button-primary">
    <br>
  </form>
  <form action = "/follow/<%= post.user_id %>" method="post">
    <input type ="submit" value="Follow" class="pure-button pure-button-primary">
  </form>

<% end %>
</div>
