<div class='button'>
<form action = "/" method="get">
  <input type ="submit" value="News Feed Page" class="pure-button pure-button-primary">
</form>
<br>
<form action = "/user/<%= @user %>/feed" method="get">
  <input type ="submit" value="Friend feed" class="pure-button pure-button-primary">
</form>
<br>
<form action = "/logout" method="post">
  <input type ="submit" value="Log Out" class="pure-button pure-button-primary">
</form>
</div>


<div class='container'>
<h1> <%= @user.name %> </h1>

<form class="pure-form pure-form-aligned" action="/user/<%= @user.id %>/post" method="post">
     <div class="pure-control-group">
      <label for="content"></label>
  <input type="text" name="content" placeholder="Tell me what do you feel here">
  </label>
  <button type="submit" class="pure-button pure-button-primary">Post</button>
    </div>
</form>

<h2>Your tweets</h2>

<% @posts.each do | post | %>
  <a href = "/user/<%= @user.id %>/profile"> <img src="<%= @user.image %>" height="40px" width="40px"/></a>

  <p><%= post.content %></p>
  <p>Created at: <%= post.created_at %></p>
<% end %>
</div>
